#sushilink {
    color: orange;
    
}

#fclink {
    color: brown;
}

#spaglink{
    color: red;
}

#sushilink, #fclink,
#spaglink {
    text-align: center;
    list-style-position:inside;
} 

.sushipage{
    background-color: orange;
    color: #800020;
}

.fcpage{
    background-color: #704E2E;
    color: #FFDB58;
}

#mainheader, #sushih1, #sushih2, #sushih3, #fch1, #fch2, #fch3{
   text-align: center; 
   font-size: 70px;
   font-family: 'Courier New', Courier, monospace;
}

.sushilist{
    font-size: 60px;
    text-align: center;
    list-style-position: inside;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fclist{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}