h1.header{
    text-align: center;

}

div.container-main{
    margin-bottom: 20px;
    background-color:darkgray;
    text-align: center;
}

div.container {
    text-align: center; 
}

body{
    background-color:azure;
}
ul.myUL {
    display: inline-block;
    text-align: left;
}


div.food-1 {
    color: orange;
    width: 200px;
    margin-bottom: 20px;
    padding: 40px;
    border: solid white;
}

div.food-2 {
    color: rgb(197, 118, 14);
    margin-bottom: 20px;
    border: solid aquamarine;
    padding: 40px;
}

div.food-3 {
    color: red;
    border: solid antiquewhite;
    padding: 40px;
}

ul.myUL li{
    font-size: 20px;
}

div.container-1 {
    text-align: center;
}

h1.title{
    text-align: center;
}

div.description{
    text-align: center;
}

h2.ingredients{
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body#lasagna {
    background-color: orange;
    color: white;
    
}

body#nachos
{
    background-color: rgb(197, 118, 14);
    text-align: center;
    
}

body#apple{
    background-color:rgb(236, 72, 72);
    text-align: center;
}

div.steps#food-1{
    text-align: left;
    display: inline-block;
    display: table;
    margin: auto;
}


p {
    list-style-position: inside;
    font-size: 20px;
}

div.steps#food-2{
    text-align: center;
}

ol.myOLnachos{
    display: inline-block;
    text-align: left;
}

div.steps#food-3{
    text-align:left;
    display: inline-block;
    display: table;
    margin: auto;
}

